@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
:root{
    --primary:#3dcfd3;
    --dark:#161616;
    --light:#FFFFFF;
    --ternary:#F2F2F2;
    --linkedin:#0A66C2;
    --twitter:#00acee;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
#navbar{
    width: 100%;
    position: fixed;
    font-family: 'Ubuntu' , sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0;
    background: url("https://static.vecteezy.com/system/resources/thumbnails/003/052/043/small/abstract-network-line-background-free-video.jpg"), no-repeat, center;
}
#navbar.sticky{
    padding: 15px 0;
    background: var(--primary);
    transition: 0.3s;
}
#navbar .name-logo{
    color: var(--light);
    font-size: 30px;
    font-weight: 600;
}
#navbar.sticky .name-logo{
    color: var(--dark);
    transition: 0.3s;
}
#navbar .menu{
    width: 50%;
    display: flex;
    justify-content: space-around;
}
#navbar .menu a{
    color: var(--light);
    font-size: 18px;
    font-weight: 500;
}
#navbar .menu a:hover{
    color: var(--primary);
    transition: 0.3s;
}
#navbar.sticky .menu a{
    color: var(--dark);
    transition: 0.3s;
}
#navbar.sticky .logo, #navbar.sticky .menu a:hover{
    color: var(--light);
    transition: 0.3s;
}
#home-section{
    width: 100%;
    height: 100vh;
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu' , sans-serif;
    min-height: 500px;
    background: url("https://static.vecteezy.com/system/resources/thumbnails/003/052/043/small/abstract-network-line-background-free-video.jpg"), no-repeat, center;
}
#home-section #home{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#home-section .home-social-media{
    width: 30px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#home-section .home-social-media a{
    width: 30px;
    height: 30px;
    background-color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
#home-section .home-github-icon{
    color: var(--dark);
}
#home-section .home-linkedin-icon{
    color: var(--linkedin);
}
#home-section .home-twitter-icon{
    color: var(--twitter);
}
#home-section .home-social-media a:hover{
    transform: scale(1.4);
    transition: 0.3s;
}

#home-section .profile-details{
    width: 50%;
}
#home-section .profile-details .text-1{
    font-size: 45px;
}
#home-section .profile-details .text-1-name{
    font-weight: 600;
    color: var(--primary);
}
#home-section .profile-details .text-2{
    font-size: 25px;
    color: var(--ternary);
    margin-top: 8px;
    margin-bottom: 15px;
}
#home-section .profile-details .text-3{
    color: var(--ternary);
    margin-bottom: 30px;
}
#home-section .profile-details .appointment-btn{
    cursor: pointer;
    color: var(--primary);
    background-color: transparent;
    border: 1.5px solid var(--primary);
    border-radius: 5px;
    padding: 12px 15px;
    font-family: 'Ubuntu' , sans-serif;
    font-size: 1rem;
    font-weight: 500;
}
#home-section .profile-details .appointment-btn:hover{
    border: none;
    color: var(--dark);
    background-color: var(--primary);
    transition: 0.3s;
}
.shivendra-image{
    width: 25%;
}
.shivendra-image>img{
    width: 100%;
}
#home_blob{
    width: 250px;
    fill: var(--primary);
}
#home_blob-image{
    width: 200px;
}
/* About Section */
#about-section{
    width: 100%;
    height: 400px;
}